@media all and (min-width: 480px) {
    .Modal {
      padding: 10px !important;
      text-align: left!important;
      background-color:white!important;
      width: 260px;
      border-radius: 5px!important;
      background-position: center!important;
      z-index: 1;
    }
  
    .Modal-form {
      padding: 5px !important;
      margin: auto!important;
      margin-top: 20px!important;
      background-color:whitesmoke!important;
      text-align: center !important;
      z-index: 1;
      
    }
  }

  /* .person{
    width: 50% !important;
    margin: auto!important;
    padding: 1px!important;
    overflow: scroll;
    float: center!important;
} */
.person {
  width: 80%;
  margin: auto;
  height: 450px;
  overflow: scroll;
  float: center!important;
}
/* 
@media (min-width : 500px ) and (min-height : 400px) {
  .person{
      width: 350px;
      height: 300px;
  }
} */

/* @media (min-width : 500px ) and (min-height : 401px) {
  .person{
      width: 450px;
      height: 400px;
  }
} */

/* @media (min-width : 1000px ) and (min-height : 700px) {
  .person{
      width: 700px;
      height: 600px;
  }
} */
